a {
    color: #E06EA7;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.btn {
    background-color: #E06EA7;
    border: none;
    color: white;
}

.btn:focus {
    background-color: #E06EA7;
}

.btn:active {
    background-color: #E06EA7;
}

.btn:hover {
    background-color: #E06EA7;
}

.form {
    padding: 20%;
}