<div class="container">
    <div class="row ">
        <section>
            <a routerLink="/home">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span style="padding-left: 10px;">back</span>
            </a>
        </section>
    </div>

    <div class="row form">
        <section *ngIf="!newUser" class="login">

            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div><br>

                <button (click)="login(email,password)" type="submit" class="btn  btn-block">Sign In</button><br>
                <p (click)="newUserToggle()" style="cursor:pointer; text-align: center; color: #E06EA7;">Don't have an account?</p>

            </form>

        </section>



        <section *ngIf="newUser" class="register">

            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <label for="exampleInputPassword1">Date of birth</label>
                        <input type="date" name="dob" [(ngModel)]="dob" class="form-control" placeholder="dob">
                    </div>
                    <div class="col">
                        <label for="exampleInputPassword1">City</label>
                        <input type="text" name="city" [(ngModel)]="city" class="form-control" placeholder="City">
                    </div>
                </div><br>
                <button (click)="register(email,password,dob,city)" type="submit" class="btn  btn-block">Sign Up</button><br>
                <p (click)="oldUserToggle()" style=" cursor:pointer; text-align: center; color: #E06EA7;">Already have an account?</p>
            </form>

        </section>
    </div>


</div>