<div class="container">
    <div class="row">

        <nav class="navbar navbar-light bg-transparent">
            <div class="logo">
                <div class="navbar-brand" href="#">
                    <img src="/assets/images/logo.png" width="150" height="150" alt="logo">
                </div>
            </div>
            <div class="menu-inline">
                <a routerLink="/home" class="dropdown-item">Home</a>
                <a routerLink="/auth" class="dropdown-item">Login</a>
            </div>
        </nav>

    </div>
</div>

<router-outlet></router-outlet>